.container
  #topbar
    #controls
      %button.i.fontawesome-reorder
      %input#userInput.i
      %button#userSubmit.i add
    #status Add a video url. I dare you,  Punk.
  #feed
    .card
      #order 1
      #vidInfo Video title
      #vidLength 11:34
      